<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setu MGMT | Login</title>
</head>
<body>
    <div class="title">
        <h1>Setu MGMT</h1>
    </div>
    <div class="login_form">
        <form action="/login" method="post">
            <p>
                <label for="username">用户名：</label>
                <input type="text" name="username" placeholder="请输入用户名" id="username">
            </p>
            <p>
                <label for="password">密码：</label>
                <input type="password" name="password" placeholder="请输入密码" id="password">
            </p>
            <p>
                <input type="submit" value="登录">
            </p>
        </form>
    </div>
</body>
</html>