<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setu MGMT | Login</title>
</head>
<body>
    <div class="title">
        <h1>Setu MGMT</h1>
    </div>
    <div class="login_form">
        <form action="/login/check" method="post">
            <h3>Login</h3>
            用户名：<input type="text" name="username" id="">
            <br>
            密码：<input type="password" name="username" id="">
            <br>
            <input type="submit" value="登录">
        </form>
    </div>
</body>
</html>